.button__container {
    display: flex;
    padding: 8px;
    border-radius: 12px;
    background: var(--Black-20, rgba(0, 0, 0, 0.2));
    backdrop-filter: blur(40px);
    max-width: max-content;
    margin-bottom: 6rem;
}

.link {
    composes: link-regular from global;
    color: var(--Grey-300, #8e95a9);
    padding: 0.5rem 2rem;
    background-color: transparent;
    transition: all 0.3s ease 0s;
    border-radius: 8px;
}

.active {
    background: var(--Primary-400, #7b6ef6);
    color: var(--Primary-50, #ebe9fe);
    padding: 0.5rem 2rem;
}
